FLASK_ENV=production
FLASK_DEBUG=0
JWT_SECRET_KEY=your_secret_here
DB_HOST=dpg-d9b27c71k1mc73ca21rg-a.singapore-postgres.render.com
DB_PORT=5432
DB_USER=mosaic_db_y7pk_user
DB_PASSWORD=tAEyXYR2d7XT7tgvE5R1Tceab77F30Qc
DB_NAME=mosaic_db_y7pk
CORS_ORIGINS=https://yourfrontend.com
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRES=3600
